<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Future Index Prediction</title>
</head>
<body>
    <h1>Index Prediction</h1>
    <form method="post" action="/predict">
        <label>Stock ID :</label>
        <input type="text" name="stock_id"><br><br>

        <label>Last Price :</label>
        <input type="text" name="last_price"><br><br>

        <label>mid :</label>
        <input type="text" name="mid"><br><br>

        <label>Transaction Quantity :</label>
        <input type="text" name="trans_qty"><br><br>

        <label>Open Interest :</label>
        <input type="text" name="open_interest"><br><br>

        <label>BID1 :</label>
        <input type="text" name="bid1"><br><br>

        <label>BID2 :</label>
        <input type="text" name="bid2"><br><br>

        <label>BID3 :</label>
        <input type="text" name="bid3"><br><br>

        <label>BID4 :</label>
        <input type="text" name="bid4"><br><br>

        <label>BID5 :</label>
        <input type="text" name="bid5"><br><br>

        <label>ASK1 :</label>
        <input type="text" name="ask1"><br><br>

        <label>ASK2 :</label>
        <input type="text" name="ask2"><br><br>

        <label>ASK3 :</label>
        <input type="text" name="ask3"><br><br>

        <label>ASK4 :</label>
        <input type="text" name="ask4"><br><br>

        <label>ASK5 :</label>
        <input type="text" name="ask5"><br><br>

        <label>bid1 vol :</label>
        <input type="text" name="bid1vol"><br><br>

        <label>bid2 vol :</label>
        <input type="text" name="bid2vol"><br><br>

        <label>bid3 vol :</label>
        <input type="text" name="bid3vol"><br><br>

        <label>bid4 vol :</label>
        <input type="text" name="bid4vol"><br><br>

        <label>bid5 vol :</label>
        <input type="text" name="bid5vol"><br><br>

        <label>ask1 vol :</label>
        <input type="text" name="ask1vol"><br><br>

        <label>ask2 vol :</label>
        <input type="text" name="ask2vol"><br><br>

        <label>ask3 vol :</label>
        <input type="text" name="ask3vol"><br><br>

        <label>ask4 vol :</label>
        <input type="text" name="ask4vol"><br><br>

        <label>ask5 vol :</label>
        <input type="text" name="ask5vol"><br><br>

        <input type="submit" value="Predict"><br><br>

    </form>
</body>
</html>